:root{
  --fundo:white;
  --cor-texto:rgb(88, 0, 105);
  --cor-frente-cartao:pink;
  --cor-verso-cartao: rgb(185, 185, 255); 
  --preto:black;
  --branco:white;
}

body{
background-color: var(--fundo);

}

footer{
    background-color:var(--branco);
    color:var(--preto)

}



